html,
body,
div,
span,
main,
aside,
header,
footer,
nav,
article,
section,
figure,
figcaption,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
label,
button,
input,
textarea,
menu {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}
